div{
    
    display: inline;
    text-align: center;
    margin-left:20px;
    border-color:rgb(0, 0, 0);
    border-bottom: 5px;
}

h1 {
    Text-align: center;
}


spaces {
    border-color:rgb(0, 0, 0);
    display: inline-block;
    border-bottom: 5px;
    font: rgba(0, 0, 0);
    font-size: 16pt;
    font-family: Arial, sans-serif;
}
